<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>타임리프 기본 문법</h1>
<h2>서버로 데이터를 받아서, 화면에 출력하기. </h2>
<!--/* strList([[달러{변수명}]] */-->
<h3>서버에서 전달한 박스명 :  [[${strList}]] </h3>
<!--/* th:text="달러{변수명}" */-->
<h3>인라인 방식 h3 태그 내부에 </h3>
<h3 th:text="${strList}"></h3>

<h3>타임리프 변수 선언해서 사용하기. </h3>
<div th:with="num1 = ${10}, num2 = ${20}">
    <h4 th:text="${num1 + num2}"></h4>
</div>

<h3>타임리프의 반복문 2가지 방법 확인. 1 </h3>
<ul>
    <li th:each="str : ${strList}" th:text="${str}"></li>
</ul>

<h3>타임리프의 반복문 2가지 방법 확인.2 </h3>
<ul>
    <th:block th:each="str : ${strList}">
        <li></li>
    </th:block>
</ul>
</body>
</html>